<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Leo's App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MultipleChoice"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:label="@string/title_activity_what_is_in_english"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity
            android:name=".settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:label="@string/title_activity_add_words"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity
            android:name=".Results"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:label="@string/title_activity_results"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity
            android:name=".Spelling"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:label="@string/title_activity_results"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity
            android:name=".MathsGame"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            android:label="@string/title_activity_maths_Game"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>